/* Exemple 29-13 : styles.css */

/* * {
  font-family:verdana,sans-serif;
  font-size  :14pt;
} */

body {
  width     :auto;
  margin    :20px auto;
  background-color: white;
  /* background:#f8f8f8; */
  /* border    :1px solid #888; */
}

html {
  background:#fff
}

.username {
  text-align :center;
  background :#839AA8;
  color      : white;
  font-family: 'Raleway', sans-serif;
  font-size  :35px;
  padding    :4px;
  margin-top: 8px;
  height: auto;
}

.info {
  font-style :italic;
  margin     :40px 0px;
  text-align :center;
}

.center {
  text-align:center;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-size: 20px;
}

/* .subhead {
  font-weight:bold;
} */

.taken, .error {
  color:#006E7F;
}

.available {
  color:green;
}

.whisper {
  font-style:italic;
  color     :#006600;
}

#logo {
  font-family:Georgia;
  /* font-weight:bold; */
  font-style :italic;
  font-size  :97px;
}

img#title{
  padding: 15px;
  border-radius: 50%;
  width: 160px;
  height: 160px;

}

img{
  /* width: 480px; */
  height: 280px;
  margin-left:8px;
  border-radius: 10px;
}

#used {
  margin-top:50px;
}

.header{
  display: block;
  height: 150px;
  padding: 20px;
}

h1{
  font-size: 100px;
}
#dormir:hover{
  opacity: 0.6;
} 

#visites:hover{
  opacity: 0.6;
} 

#activites:hover{
  opacity: 0.6;
} 

#infos:hover{
  opacity: 0.6;
} 

#linkedin:hover{
  transition: all .2s ease-in-out;
  width: 32px;
  height: 27px;
}

#github:hover{
  transition: all .2s ease-in-out;
  width: 32px;
  height: 27px;
}

#portfolio:hover{
  transition: all .2s ease-in-out;
  width: 32px;
  height: 27px;
}

label{
  text-align :right;
}

.coordonnées{
  width: 25px;
  height: 20px;
  margin-bottom: 25px;
  border-radius: 50%;
  margin-block: 10px;
}

h2{
  margin-top: 15px;
  font-weight: bolder;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}

#carte{
  width: 50%;
  height: 50%;
  margin-left:23%;
}




@media only screen and (max-width: 2350px) {
  img {
    width:24%;
  }
}
@media only screen and (max-width: 1400px) {
  img {
    width:49%;
  }
}
@media only screen and (max-width: 1022px) {
  img {
    width:98%;
    height:30%;
  }
}
